MainFlowEndUser.json
[
    {
        "id": "87d63ebcd1a6164d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85c5c3e2a2742433",
        "type": "inject",
        "z": "87d63ebcd1a6164d",
        "name": "Trigger Sunrise API Manual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "1b06d23093fc6e73"
            ]
        ]
    },
    {
        "id": "47901f4b714b18d8",
        "type": "http request",
        "z": "87d63ebcd1a6164d",
        "name": "Sunrise Sunset API (ADJUST FOR LOCATION)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "72bf871b8ef3616a"
            ]
        ]
    },
    {
        "id": "3d24cd26a8425081",
        "type": "debug",
        "z": "87d63ebcd1a6164d",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sunriseNZ",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "72bf871b8ef3616a",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Extract sunrise",
        "func": "msg.sunrise = msg.payload.results.sunrise;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "5ee6f795b050cedf"
            ]
        ]
    },
    {
        "id": "5ee6f795b050cedf",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Covert to NZST (ADJUST TO LOCAL TIMEZONE)",
        "func": "// msg.sunrise contains UTC ISO string from API like \"2024-01-15T18:30:00+00:00\"\n\nif (!msg.sunrise) {\n    node.warn(\"No sunrise data from API!\");\n    return null;\n}\n\n// Parse the UTC sunrise time into a Date object\nmsg.sunriseNZDate = new Date(msg.sunrise);\n\n// Debug output\nconst nzDisplay = msg.sunriseNZDate.toLocaleString(\"en-NZ\", {\n    timeZone: \"Pacific/Auckland\",\n    weekday: 'short',\n    year: 'numeric',\n    month: 'short',\n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n});\n\nnode.warn(\"Sunrise UTC: \" + msg.sunrise);\nnode.warn(\"Sunrise NZ: \" + nzDisplay);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 600,
        "wires": [
            [
                "b06833926e72138a"
            ]
        ]
    },
    {
        "id": "bf83297eb0afb164",
        "type": "debug",
        "z": "87d63ebcd1a6164d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 500,
        "wires": []
    },
    {
        "id": "65c03e12f0cdeaaf",
        "type": "inject",
        "z": "87d63ebcd1a6164d",
        "name": "Check Sunrise Trigger (Automatic)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "1b06d23093fc6e73"
            ]
        ]
    },
    {
        "id": "1562d055a0738a29",
        "type": "inject",
        "z": "87d63ebcd1a6164d",
        "name": "Reset Sunrise Trigger (automatic)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 1280,
        "y": 360,
        "wires": [
            [
                "4241036bec6addd4"
            ]
        ]
    },
    {
        "id": "4241036bec6addd4",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Sunrise Triggered Check",
        "func": "flow.set(\"servoAngle\", 0);\nflow.set(\"servoPhase\", \"PUSH\");\nflow.set(\"sunriseTriggered\", false);\nflow.set(\"sunriseTriggeredDate\", null);\nnode.warn(\"🔄 Sunrise flags reset for new day\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "bf83297eb0afb164"
            ]
        ]
    },
    {
        "id": "1b06d23093fc6e73",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Change Date (ADJUST FOR LOCAL TIMEZONE)",
        "func": "// Get NZ current date/hour PROPERLY (no server tz dependency)\nconst nzDateFormatter = new Intl.DateTimeFormat('sv', {\n    timeZone: 'Pacific/Auckland',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n});\nconst nzDateStr = nzDateFormatter.format(new Date());  // \"2024-10-05\"\n\nconst nzHourFormatter = new Intl.DateTimeFormat('en-GB', {\n    timeZone: 'Pacific/Auckland',\n    hour: '2-digit',\n    hour12: false\n});\nconst nzHourStr = nzHourFormatter.format(new Date());  // \"07\"\nconst nzHour = parseInt(nzHourStr, 10);\n\nnode.warn(`NZ now ~${nzDateStr} ${nzHour}:xx`);\n\nlet targetDateStr = nzDateStr;\nif (nzHour >= 10) {\n    // Compute tomorrow's YYYY-MM-DD (handles month/year rollover)\n    const [year, month, day] = nzDateStr.split('-').map(Number);\n    const nzDate = new Date(Date.UTC(year, month - 1, day));\n    nzDate.setUTCDate(nzDate.getUTCDate() + 1);\n    targetDateStr = `${nzDate.getUTCFullYear()}-${String(nzDate.getUTCMonth() + 1).padStart(2, '0')}-${String(nzDate.getUTCDate()).padStart(2, '0')}`;\n}\n\nmsg.dateForSunriseAPI = targetDateStr;\nnode.warn(`Fetching sunrise for: ${targetDateStr}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            [
                "47901f4b714b18d8"
            ]
        ]
    },
    {
        "id": "b06833926e72138a",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Check if Sunrise Hit",
        "func": "node.warn(\"Sunrise logic hit\");\n\nconst now = new Date();\nconst sunriseTime = new Date(msg.sunriseNZDate);\n\n// Debug\nnode.warn(\"Now: \" + now.toString());\nnode.warn(\"Sunrise target: \" + sunriseTime.toString());\n\n// Validate sunrise time\nif (!msg.sunriseNZDate || isNaN(sunriseTime.getTime())) {\n    node.warn(\"Invalid sunrise time!\");\n    return null;\n}\n\n// ===== CHECK 1: Is sunrise for TODAY? =====\nconst todayNZ = now.toLocaleDateString(\"en-CA\", { timeZone: \"Pacific/Auckland\" });\nconst sunriseDateNZ = sunriseTime.toLocaleDateString(\"en-CA\", { timeZone: \"Pacific/Auckland\" });\n\nnode.warn(\"Today (NZ): \" + todayNZ);\nnode.warn(\"Sunrise date (NZ): \" + sunriseDateNZ);\n\nif (todayNZ !== sunriseDateNZ) {\n    node.warn(\"Sunrise not for today - skipping\");\n    return null;\n}\n\n// ===== CHECK 2: How many minutes since sunrise? =====\nconst diffMs = now.getTime() - sunriseTime.getTime();\nconst diffMinutes = Math.round(diffMs / 60000);\n\nnode.warn(\"Minutes since sunrise: \" + diffMinutes);\n\n// Too early - sunrise hasn't happened yet\nif (diffMinutes < 0) {\n    node.warn(\"Waiting... \" + Math.abs(diffMinutes) + \" minutes until sunrise\");\n    return null;\n}\n\n// CHANGED: Extended window from 30 to 120 minutes (2 hours)\nif (diffMinutes > 120) {\n    node.warn(\"Too late - \" + diffMinutes + \" min after sunrise. Window closed.\");\n    return null;\n}\n\n// ===== CHECK 3: Already triggered today? =====\nconst lastTriggered = flow.get(\"sunriseTriggeredDate\");\n\nnode.warn(\"Last triggered: \" + lastTriggered);\n\nif (lastTriggered === todayNZ) {\n    node.warn(\"Already triggered today\");\n    return null;\n}\n\n// ===== TRIGGER! =====\nflow.set(\"sunriseTriggeredDate\", todayNZ);\n\nmsg.trigger = true;\nmsg.event = \"SUNRISE\";\nmsg.time = now;\n\nnode.warn(\"SUNRISE TRIGGERED! for \" + todayNZ);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "3d24cd26a8425081",
                "a0becdf7375cab66",
                "1aa9950c03191fac",
                "2232070d2e7356da"
            ]
        ]
    },
    {
        "id": "2232070d2e7356da",
        "type": "http request",
        "z": "87d63ebcd1a6164d",
        "name": "( ADJUST) Trigger Alexa via Voicemonkey",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 820,
        "wires": [
            [
                "adc01d9324a5f05d"
            ]
        ]
    },
    {
        "id": "adc01d9324a5f05d",
        "type": "debug",
        "z": "87d63ebcd1a6164d",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 960,
        "wires": []
    },
    {
        "id": "4b66b28cb36f2e90",
        "type": "http request",
        "z": "87d63ebcd1a6164d",
        "name": "(ADJUST) Stop Alexa via VoiceMonkey",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ac192dabd548e69e",
        "type": "rpi-gpio in",
        "z": "87d63ebcd1a6164d",
        "name": "Cancel switch (GPIO24, pull-up)",
        "pin": "24",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "8d98ca12b9b2fd42",
                "d21310e79b6819e4"
            ]
        ]
    },
    {
        "id": "8d98ca12b9b2fd42",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "CANCEL: disarm + reset timer",
        "func": "// Disarm (your servo gate should check this)\nflow.set(\"armed\", false);\n\n// Cancel the trigger node - USE STRING \"reset\"\nmsg.payload = \"reset\";\n\n// Helpful payload for debugging/logging\nmsg.payload = {\n    action: \"cancel\",\n    source: \"gpio_switch\",\n    ts: Date.now()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "a3a4616ad539ec64",
                "09f8b8c5429c50e5"
            ]
        ]
    },
    {
        "id": "a3a4616ad539ec64",
        "type": "debug",
        "z": "87d63ebcd1a6164d",
        "name": "Cancel pressed (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 900,
        "wires": []
    },
    {
        "id": "a0becdf7375cab66",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "ARM (set flow.armed = true)",
        "func": "flow.set(\"armed\", true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 820,
        "wires": [
            [
                "09f8b8c5429c50e5"
            ]
        ]
    },
    {
        "id": "09f8b8c5429c50e5",
        "type": "trigger",
        "z": "87d63ebcd1a6164d",
        "name": "2 minute countdown (resettable)",
        "op1": "",
        "op2": "FIRE",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 940,
        "wires": [
            [
                "0d2021e1fc8d7b38"
            ]
        ]
    },
    {
        "id": "0d2021e1fc8d7b38",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "GATE (only fire if armed)",
        "func": "if (!flow.get(\"armed\")) return null; // cancelled/disarmed\n\n// optional: one-shot\nflow.set(\"armed\", false);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "e92774c143ffc370",
                "a8b40b66ac64d2a8"
            ]
        ]
    },
    {
        "id": "e92774c143ffc370",
        "type": "debug",
        "z": "87d63ebcd1a6164d",
        "name": "Timer fired + passed gate (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d63a4bce1360a5d1",
        "type": "inject",
        "z": "87d63ebcd1a6164d",
        "name": "Test voicemonkey stop",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 1540,
        "y": 700,
        "wires": [
            [
                "4b66b28cb36f2e90"
            ]
        ]
    },
    {
        "id": "a8b40b66ac64d2a8",
        "type": "mqtt out",
        "z": "87d63ebcd1a6164d",
        "name": "Send to Servo (ADJUST)",
        "topic": "servo123abc/trigger",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "hivemq_broker",
        "x": 1290,
        "y": 1120,
        "wires": []
    },
    {
        "id": "587fe4a35fb535f6",
        "type": "inject",
        "z": "87d63ebcd1a6164d",
        "name": "Test Servo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 920,
        "y": 1240,
        "wires": [
            [
                "a8b40b66ac64d2a8"
            ]
        ]
    },
    {
        "id": "413d4b414fd73293",
        "type": "e-mail",
        "z": "87d63ebcd1a6164d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "email (ADJUST FOR OWN EMAIL)",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "1aa9950c03191fac",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Build Sunrise Email",
        "func": "msg.topic = \"Sunrise Automation Triggered\";\n\nmsg.payload =\n`Sunrise condition met.\n\nTime (NZ): ${new Date().toLocaleString(\"en-NZ\")}\n\nServo sequence will start now.\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 660,
        "wires": [
            [
                "413d4b414fd73293"
            ]
        ]
    },
    {
        "id": "569a0b640a5d4667",
        "type": "comment",
        "z": "87d63ebcd1a6164d",
        "name": "README",
        "info": "Please follow the instruction doc, and adjust the nodes labeled.\nYou mat need to generate your own code for Change Data function or Convert to NZST, to allow it to be in your local time zone.",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "d21310e79b6819e4",
        "type": "function",
        "z": "87d63ebcd1a6164d",
        "name": "Voice monkey stop",
        "func": "// Accept ALL possible \"pressed\" values\nif (\n    msg.payload === false ||\n    msg.payload === 0 ||\n    msg.payload === \"0\"\n) {\n    msg.payload = 1;\n    return msg;\n}\n\n// Block everything else\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 780,
        "wires": [
            [
                "4b66b28cb36f2e90"
            ]
        ]
    },
    {
        "id": "hivemq_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0736f29881cdbff8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-pi-gpio": "2.0.6",
            "node-red-node-email": "5.0.0"
        }
    }
]